.reveal{
  overflow-x: hidden !important;
  overflow-y: auto !important;
  /* Enable pointer events so users can click and drag on scrollbars */
  pointer-events: auto !important;
}

.reveal h1, h2, h3, h4 {
  font-family: 'Verdana', sans-serif !important;
  margin-bottom: 0.5em !important;
  margin-top: 1em !important;
  color: white !important;
}

.reveal h1, h2, h3 {
  font-size: xxx-large !important;
  margin-bottom: 0.5em !important;
}

.reveal h3, h4 {
  text-transform: none !important;
}

.reveal a {
  color: white !important;
}

.link-icon {
  margin-left: 5px;
  font-size: smaller;
  vertical-align: middle;
}

.container {
  position: relative;
  width: 100%; 
  height: 100% !important;
  padding: 0% !important;
  margin: 0% !important; 
  background-color: rgba(119, 47, 139, 0.25); 
  border-style: solid; 
  border-width: 3px; 
  border-color: rgba(119, 47, 139); 
  border-radius: 5px;
}

.iframe-container {
  border-style: solid; 
  border-width: 3px; 
  border-color: rgba(119, 47, 139); 
  border-radius: 5px;
}

/* Left Layout */
/*==============*/
.left-bottom-div {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(119, 47, 139, 0.75);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%); 
  color: white; 
  text-align: left;
  box-sizing: border-box;
}

.left-top-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%; /* Adjust width as needed */
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  background-color: rgba(119, 47, 139);
  overflow: hidden;
  /*border: white solid 5px;*/
  /* background-image: url(); background-position: right; background-size: cover;*/
}

.left-top-div-text {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 85%; 
  height: 100%; 
  padding-left: 2%;
  padding-right: 1%;
}

/*.left-top-div-text ul {
  list-style-type: disc; 
  list-style-position: outside; 
  padding-left: 40px; 
  margin: 0;
  width: 80%;
  text-align: left;
  box-sizing: border-box;
  color: white;
}*/

/*.left-top-div-text ul li { 
	text-indent: -20px; /* Hängender Einzug 
	margin-bottom: 10px; /* Abstand zwischen den Listenelementen
} */ 

/* Right Layout */
/*=============*/
/* RIGHT LAYOUT */
.right-bottom-div {
  position: absolute; 
  bottom: 0; 
  right: 0; 
  width: 70%; 
  height: 100%; 
  background-color: rgba(119, 47, 139, 0.75); 
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.right-title-text {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  white-space: no wrap; 
  padding: 10px; 
  color: white; 
  font-family: 'Impact', Verdana, sans-serif;
  /*transform: rotate(-76deg) translate(-5%, 50%); transform-origin: left top;*/
}

.right-top-div {
  position: absolute; 
  top: 0; 
  right: 0; 
  width: 90%; 
  height: 100%; 
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%); 
  overflow: hidden;
  /* background-image: url(); background-position: right; background-size: cover;*/
}
.right-image-source {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: smaller;
  max-width: 85%;
  text-align: center;
}

.right-image-source.is-light {
  background-color: #55555685;
  color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.right-image-source.is-dark {
  background-color: #DFE1E175;
  color: black;
  box-shadow: 0 0 5px rgba(255,255,255,0.3);
}

.slide-title-left {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  text-align: left;
  height: 50%;
  width: 100%;
  white-space: no wrap;
  padding: 2%; 
  color: white !important; 
  font-family: 'Impact', Verdana, sans-serif;
  font-size: larger;
  /*border-color: white;
  border-style: solid; 
  border-width: 3px;*/
}

.slide-subtitle-left {
  position: absolute; 
  bottom: 0;
  left: 71%; 
  width: 100%; 
  text-align: left; 
  padding-left: 20px; 
  color: white; 
  font-family: 'Impact', Verdana, sans-serif; 
  font-size: larger;
  transform: rotate(-78deg) translate(-5%, 50%); 
  transform-origin: left top; 
}

/*======= BLOCKQUOTES ==============*/
/* Blockquote definition: white.css */
.reveal blockquote {
  font-style: normal !important;
  text-align: left;
  width: 100%;
  box-shadow: none !important;
  background-color: transparent !important;
  line-height: 1.3 !important;
}

/*=== VIDEO BACKGROUND =====*/
/* Direkter Video-Stream */
.container video#background-video,
.container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
  display: block;
  background-size: cover; /* Für ein Hintergrundbild, falls das Video nicht verfügbar ist */
  background-position: center;
}

/* YOUTUBE-Video-Stream im iframe */
.bg-video-wrapper { 
  position: absolute; 
  inset: 0; 
  /*overflow: hidden; 
  z-index: 0; */
  /*pointer-events: none; */
}

/* iframe zentrieren und cover-Verhalten erzwingen */
.bg-video-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}